table {
  table-layout: fixed;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px;
  min-width: 500px;
}

thead {
  display: table-header-group;
}

tr {
  display: table-row;
  vertical-align: middle;
  outline: 0;
  background-color: rgb(242, 242, 242);
}

th {
  padding: 8px 0;
  text-align: left;
  background-color: #173940;
  color: rgb(255, 255, 255);
}

td {
  padding: 8px 0;
}

th:nth-of-type(1),
td:nth-of-type(1) {
  padding: 8px;
}

.low-risk {
  color: #6b9d80;
}

.high-risk {
  color: #ec5e5e;
}

/* Rendre le tableau scrollable horizontalement sur mobile */
.table-container {
  width: 100%;
  overflow-x: auto;
}

/* Adapter le tableau pour les petits écrans */
@media (max-width: 768px) {

  .table thead {
      display: none;
    }

  th,
  td {
    font-size: 0.9rem;
    padding: 8px;
    word-break: normal;
    overflow-wrap: anywhere;
  }

  /* Rendre le tableau plus compact */
  th {
    padding: 10px 5px;
  }

  td {
    padding: 8px 5px;
  }
}