#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header a {
  background-color: #173940;
  appearance: none;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  text-transform: none;
  font-weight: bold;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  border: 1px solid;
  padding: 6px 16px;
  min-width: 32px;
  line-height: 1.75;
}

#header a:hover {
  text-decoration: none;
}

/* Rendre le header plus compact sur mobile */
@media (max-width: 768px) {
  #header {
    flex-direction: column;
    align-items: center;
  }

  #header a {
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
  }
}