#sidebar {
  top: 0;
  width: 40px;
  min-height: 100vh;
  padding: 12px;
  text-align: center;
  background-color: #173940;
}


@media (max-width: 768px) {
  #sidebar {
    top: 0;
    width: 18px;
    min-height: 100vh;
    text-align: center;
    background-color: #173940;
  }
  img {
    width: 20px;
  }

}