.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip-button {
    padding: 1px 1px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 50%;
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 10px;
    transition: background 0.2s;
}

.tooltip-button:hover {
    background-color: #d6d6d6;
}

.tooltip-bubble {
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 8px 12px;
    border-radius: 6px;
    max-width: 400px;
    word-wrap: break-word;
    font-size: 14px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    z-index: 9999; /* to be over map */
}

.tooltip-bubble::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

.tooltip-container.show .tooltip-bubble {
    visibility: visible;
    opacity: 1;
}