/* Form container */
.add-factory-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f5f5f5;
  width: 50%;
}

@media (max-width: 768px) {
  .add-factory-form {
    width: 90%;
  }
}

.add-factory-form label {
  margin-top: 10px;
  font-weight: bold;
  display: block;
}

.add-factory-form input {
  padding: 8px;
  margin-bottom: 12px;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 100%;
  box-sizing: border-box;
}

.add-factory-form input[type="submit"] {
  background-color: #173940;
  color: white;
  cursor: pointer;
  width: auto;
  margin-top: 10px;
}

.add-factory-form input[type="submit"]:hover {
  filter: brightness(1.1);
}

.add-factory-form p {
  color: #ec5e5e;
  font-size: small;
  margin-bottom: 5px;
}

.add-factory-form .error {
  color: #ec5e5e;
}
